.tabbed {
    position: relative;
    left: 5%;
}
.CommunismRed {
    color: #BD230F;
}

.centered {
	position: relative;
	left: 15%;

}

body {


    background: black;
    font-family: "Trebuchet MS";
}

