#commieflag {
	width:304px;
	height:228px;
}

.tabbed {
    position: relative;
    left: 5%;
}
.CommunismRed {
    color: #BD230F;
}

.centered {
	position: relative;
	left: 15%;
}

.RightSideBar {
	position: absolute;
	right: 0%;
}

body {


    background: black;
    font-family: "Trebuchet MS";
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	background: green;
	padding: 5px 10px;
	margin: 0px 5px 0px 0px;
} 


